/* CSS3 - dashboard.html */
/* body {
  overflow-x: hidden;
  pointer-events: none;
} */
.dashboard_page {
  display: grid;
  grid-template-columns: 242px auto;
  background-color: #ffffff;
  column-gap: 25px;
  max-width: 1560px;
  margin: auto;
  overflow-x: hidden;
}

.dashboard_page .nav {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #ffffff;
  max-width: 1560px;
  /* border: 1px solid red; */
}
/* 
  .dashboard_page .nav > * {
      border: 1px solid blue;
  } */

.dashboard_page .nav .nav_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 242px;
}

.dashboard_page .nav .nav_left .img_menubar {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_left .img_header_logo {
  width: 142px;
  height: 30px;
}

.dashboard_page .nav .nav_middle {
  display: flex;
  flex: 8 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 31.67px;
  padding-right: 21.06px;
}

.dashboard_page .nav .nav_middle .img_search {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_middle .searchbox {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 4px;
  border: none;
  outline: none;
}

.dashboard_page .nav .nav_middle .img_alert {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_right {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.nav_right > * {
  padding-right: 8px;
}

.dashboard_page .nav .nav_right p {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  align-self: baseline;
  margin-top: auto;
  margin-bottom: auto;
  color: #000000;
}

/* Sidebar css */
.dashboard_page .sidebar {
  margin-left: 30px;
  transition: all 1s;
}

.dashboard_page .sidebar .sidebar_item p img {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.dashboard_page .sidebar .sidebar_item p {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  width: 183px;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.dashboard_page .sidebar .sidebar_item_1 {
  background-color: #fff3f4;
  border-radius: 5px;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  cursor: pointer;
}

.dashboard_page .sidebar .sidebar_item_1 > p {
  color: #c8242f;
}

/* dashboard_content css */
.dashboard_page .dashboard_content {
  display: flex;
  flex-direction: column;
  background: #fafafa 0% 0% no-repeat padding-box;
  padding-left: 52px;
}

.dashboard_page .dashboard_content > * {
  padding: 15.75px 0;
}

.dashboard_page .dashboard_content .dashboard_header h3 {
  font: normal normal medium 30px/39px Roboto;
  letter-spacing: 0px;
  color: #000000;
}

/* sales-cards css */
.dashboard_page .dashboard_content .sales_cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-column-gap: 16px; */
}

.dashboard_page .dashboard_content .sales_cards .card_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin: 0 15px;

  width: 219px;
  height: 116px;
}

.dashboard_page .dashboard_content .sales_cards .card_item_1 {
  margin-left: 0;
}

.dashboard_page .dashboard_content .sales_cards .div_right .number_of_products {
  font: normal normal medium 25px/33px Roboto;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0px;
  width: 57px;
  height: 33px;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.dashboard_page .dashboard_content .sales_cards .card_item img {
  width: 33px;
  height: 33px;
}

/* graph css */
.dashboard_page .charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_page .charts .chart-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 802px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper {
  width: 802px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper {
  margin-left: 29px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper .list_items {
  display: flex;
  gap: 2.42px;
  font: normal normal normal 12px/16px Roboto;
  margin-right: 29px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper .list_items .active > a {
  border-bottom: 1px solid #c8242f;
  padding-bottom: 2px;
  letter-spacing: 0px;
  color: #c8242f;
}

.dashboard_page .charts .chart-item-2 {
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 398px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.dashboard_page .charts .chart-item-2 h4 {
  margin-left: 29px;
  margin-top: 21.5px;
}

.dashboard_page .charts .chart-item-2 .countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  row-gap: 18px;
  column-gap: 26px;
}

.dashboard_page .charts .chart-item-2 .countries .country {
  display: flex;
  align-items: center;
}

.dashboard_page .charts .chart-item-2 .img_piegraph {
  height: 237px;
  width: 254px;
  margin-left: 89px;
}

.dashboard_page .charts .chart-item-2 .countries .country .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 9px;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_1 {
  background-color: #c8242f;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_2 {
  background-color: #a2b86c;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_3 {
  background-color: #f16c20;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_4 {
  background-color: #ebc844;
}

.dashboard_page .dashboard_content .invoice {
  background-color: #ffffff;
}

.dashboard_page .dashboard_content .invoice .heading {
  display: flex;
  justify-content: space-between;
  padding-left: 29px;
  padding-right: 29px;
}

.invoice .table-responsive {
  padding: 0;
}

.dashboard_page .dashboard_content .invoice .heading h4 {
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.dashboard_page .dashboard_content .invoice .heading p a {
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
}

.dashboard_page .dashboard_content .invoice .table-responsive {
  padding-left: 40px;
  padding-right: 40px;
}

.dashboard_page .dashboard_content .table th {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
}

.dashboard_page
  .dashboard_content
  .invoice
  .table-responsive
  .table
  tbody
  tr
  td {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.dashboard_page .dashboard_content .table tbody tr td .text-success {
  background-color: #ebffef;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.dashboard_page .dashboard_content .table tbody tr td .text-danger {
  background-color: #fff5f5;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.dashboard_page .dashboard_content .table tbody tr td .text-secondary {
  background-color: #f8f8f8;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

/* Utility */
.close {
  display: none;
  width: 0%;
}

.open {
  /* width: 100vw; */
  display: block;
}

/* MEDIA QUERY */

@media screen and (1060px<=width<=1560px) {
  .dashboard_page {
    width: 100vw;
  }
  .dashboard_page .dashboard_content .sales_cards {
    grid-template-columns: repeat(3, auto);
    row-gap: 8px;
    column-gap: 4px;
  }
  .dashboard_page .dashboard_content .sales_cards .card_item {
    margin: 0;
    padding: 4px 8px;
  }

  .dashboard_page
    .dashboard_content
    .sales_cards
    .div_right
    .number_of_products {
    font-size: 18px;
    font-weight: bold;
  }

  .dashboard_page .charts {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .dashboard_page .charts .chart-item-1 {
    width: 550px;
    height: 300px;
    background-color: #ffffff;
  }

  .dashboard_page .charts .chart-item-1 .sale_wrapper {
    /* margin-left: 0; */
    width: 550px;
  }

  .dashboard_page .charts .chart-item-1 > img {
    width: 535px;
  }

  .dashboard_page .charts .chart-item-2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding-top: 8px;
    position: relative;
  }

  .dashboard_page .charts .chart-item-2 > h4 {
    position: absolute;
    top: 0;
  }

  .dashboard_page .charts .chart-item-2 .countries {
    grid-template-columns: auto;
  }
}

@media screen and (768px<=width<=1060px) {
  .dashboard_page {
    width: 100vw;
    grid-template-columns: 165px auto;
  }
  .dashboard_page .dashboard_content {
    padding-left: 12px;
  }
  .dashboard_page .nav {
    width: 100vw;
  }
  .dashboard_page .dashboard_content .sales_cards {
    width: 60vw;
    grid-template-columns: repeat(2, auto);
    row-gap: 18px;
    place-items: center;
    column-gap: 4px;
  }
  .dashboard_page .dashboard_content .sales_cards .card_item {
    margin: 0;
    padding: 4px 8px;
  }

  .dashboard_page
    .dashboard_content
    .sales_cards
    .div_right
    .number_of_products {
    font-size: 18px;
    font-weight: bold;
  }
  .dashboard_page .charts {
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
  }

  .dashboard_page .charts .chart-item-1 {
    width: 70%;
    height: 400px;
    background-color: #ffffff;
  }

  .dashboard_page .charts .chart-item-1 .sale_wrapper {
    /* margin-left: 0; */
    width: 100%;
  }

  .dashboard_page .charts .chart-item-1 > img {
    width: 90%;
  }

  .dashboard_page .charts .chart-item-2 {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 70%;
    padding-top: 8px;
    position: relative;
  }

  .dashboard_page .charts .chart-item-2 .countries {
    grid-template-columns: auto auto;
  }

  .invoice .heading {
    padding: 0;
    padding-left: 10px;
  }

  .invoice .table {
    display: block;
    max-width: 70vw;
    overflow-x: auto;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .nav {
    width: 100vw;
    flex-basis: 100%;
  }

  .nav_left {
    width: 30% !important;
  }

  .nav .nav_left .img_header_logo {
    width: 60px !important;
  }

  .nav .nav_middle {
    display: flex;
    flex: 4 1 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 8px;
    justify-content: center !important;
  }
  .dashboard_page .nav .nav_middle .img_search {
    width: 18px;
    height: 18px;
  }

  .searchbox {
    font: normal normal normal 12px/12px Roboto;
    width: 30%;
    margin-left: 4px;
  }

  .dashboard_page .nav .nav_middle input {
    font-size: 12px !important;
  }

  .dashboard_page .nav .nav_middle .img_alert {
    width: 18px;
    height: 18px;
  }

  .dashboard_page .nav .nav_right {
    display: flex;
    flex: 0 0 auto !important;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

  .nav_right > * {
    padding-right: 4px;
  }

  .dashboard_page .nav .nav_right p {
    display: none;
  }

  .dashboard_content {
    padding-left: 0 !important;
    width: 100vw;
  }

  .sales_cards {
    grid-template-columns: auto !important;
    margin: auto !important;
    column-gap: 0 !important;
    row-gap: 16px !important;
  }

  .sales_cards > * {
    margin: 0 !important;
  }

  .dashboard_page .charts {
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
  }

  .dashboard_page .charts .chart-item-1 {
    width: 80%;
    height: 250px;
    background-color: #ffffff;
  }

  .dashboard_page .charts .chart-item-1 .sale_wrapper {
    /* margin-left: 0; */
    width: 100%;
  }

  .dashboard_page .charts .chart-item-1 > img {
    width: 90%;
  }

  .dashboard_page .charts .chart-item-2 {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 80%;
    height: max-content;
    padding-top: 8px;
    position: relative;
  }

  .dashboard_page .charts .chart-item-2 .img_piegraph {
    margin-left: 0;
  }

  .dashboard_page .charts .chart-item-2 .countries {
    grid-template-columns: auto;
  }

  .invoice .heading {
    padding: 0;
    padding-left: 10px;
  }

  .invoice .table {
    display: block;
    max-width: 100vw;
    overflow-x: auto;
  }
}
