@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  cursor: pointer;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.landing_page {
  max-width: 1560px;
  min-height: 720px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.hero_image {
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.info .desc,
.info .login {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.info .desc .header_image {
  width: 252px;
  height: 58px;
  box-shadow: 0px 4px 31px #0000000a;
}

.info .desc .header_desc {
  display: flex;
  width: 500px;
  flex-direction: column;
}

.info .desc .header_desc .line {
  font: normal normal 300 40px/47px Roboto;
  font-weight: 400;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.info .desc .header_desc .line span {
  color: #c8242f;
}

.info .desc p {
  font: normal normal normal 25px/33px Roboto;
}

.info .login input {
  width: 429px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  padding-left: 14.5px;
}

.info .login input[type="text"] {
  margin-bottom: 29px;
}

.info .login .button_wrapper {
  display: flex;
  justify-content: space-between;
  width: 429px;
}

.info .login .button_wrapper .btn_login {
  width: 138px;
  height: 45px;
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  margin-top: 30.5px;
  margin-bottom: 23.13px;
  font: normal normal medium 18px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}

.info .login .button_wrapper p {
  margin-top: auto;
  margin-bottom: auto;
  letter-spacing: 0px;
  color: #adadad;
}

.info .login .register {
  display: flex;
}

.info .login .register p {
  letter-spacing: 0px;
  color: #adadad;
  padding-right: 2px;
}

.info .login .register a {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #c8242f;
}

/* Note :
1. change svg background to  #FAFAFA;
*/

/* CSS3 - dashboard.html */
.dashboard_page {
  display: grid;
  grid-template-columns: 242px auto;
  background-color: #ffffff;
  gap: 25px;
  max-width: 1560px;
  margin: auto;
}

.dashboard_page .nav {
  grid-column: auto / span 2;
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* border: 1px solid red; */
}
/* 
.dashboard_page .nav > * {
    border: 1px solid blue;
} */

.dashboard_page .nav .nav_left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 242px;
}

.dashboard_page .nav .nav_left .img_menubar {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_left .img_header_logo {
  width: 142px;
  height: 30px;
}

.dashboard_page .nav .nav_middle {
  display: flex;
  flex: 8 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 31.67px;
  padding-right: 21.06px;
}

.dashboard_page .nav .nav_middle .img_search {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_middle .searchbox {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 4px;
  border: none;
  outline: none;
}

.dashboard_page .nav .nav_middle .img_alert {
  width: 24px;
  height: 24px;
}

.dashboard_page .nav .nav_right {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: center;
}

.dashboard_page .nav .nav_right .img_profile {
  width: 44px;
  height: 44px;
}

.dashboard_page .nav .nav_right p {
  width: 68px;
  height: 21px;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #000000;
}

.dashboard_page .nav .nav_right .img_dropdown {
  width: 20px;
  height: 12px;
}

/* Sidebar css */
.dashboard_page .sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
}

.dashboard_page .sidebar .sidebar_item {
  display: flex;
  align-items: center;
  margin-bottom: 19.97px;
  width: 60px;
  padding: 11px;
  width: 183px;
}

.dashboard_page .sidebar .sidebar_item > img {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.dashboard_page .sidebar .sidebar_item > p {
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.dashboard_page .sidebar .sidebar_item_1 {
  background-color: #fff3f4;
  border-radius: 5px;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  cursor: pointer;
}

.dashboard_page .sidebar .sidebar_item_1 > p {
  color: #c8242f;
}

/* dashboard_content css */
.dashboard_page .dashboard_content {
  display: flex;
  flex-direction: column;
  background: #fafafa 0% 0% no-repeat padding-box;
  padding-left: 52px;
}

.dashboard_page .dashboard_content > * {
  padding: 15.75px 0;
}

.dashboard_page .dashboard_content .dashboard_header {
  font: normal normal medium 30px/39px Roboto;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 600;
}

/* sales-cards css */
.dashboard_page .dashboard_content .sales_cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  /* grid-column-gap: 16px; */
}

.dashboard_page .dashboard_content .sales_cards .card_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 219px;
  height: 116px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin: 0 15px;
  width: 219px;
  height: 116px;
}

.dashboard_page .dashboard_content .sales_cards .card_item_1 {
  margin-left: 0;
}

.dashboard_page .dashboard_content .sales_cards .div_right .number_of_products {
  font: normal normal medium 25px/33px Roboto;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0px;
  width: 57px;
  height: 33px;
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
}

.dashboard_page .dashboard_content .sales_cards .card_item img {
  width: 33px;
  height: 33px;
}

/* graph css */
.dashboard_page .charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_page .charts .chart-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 802px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper {
  width: 802px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper {
  margin-left: 29px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper .list_items {
  display: flex;
  gap: 2.42px;
  font: normal normal normal 12px/16px Roboto;
  margin-right: 29px;
}

.dashboard_page .charts .chart-item-1 .sale_wrapper .list_items .active > a {
  border-bottom: 1px solid #c8242f;
  padding-bottom: 2px;
  letter-spacing: 0px;
  color: #c8242f;
}

.dashboard_page .charts .chart-item-2 {
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 398px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.dashboard_page .charts .chart-item-2 h2 {
  margin-left: 29px;
  margin-top: 21.5px;
}

.dashboard_page .charts .chart-item-2 .countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  row-gap: 18px;
  column-gap: 26px;
}
.dashboard_page .charts .chart-item-2 .country {
  display: flex;
  align-items: center;
}

.dashboard_page .charts .chart-item-2 .img_piegraph {
  height: 237px;
  width: 254px;
  margin-left: 89px;
}

.dashboard_page .charts .chart-item-2 .countries .country .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 9px;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_1 {
  background-color: #c8242f;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_2 {
  background-color: #a2b86c;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_3 {
  background-color: #f16c20;
}
.dashboard_page .charts .chart-item-2 .countries .country .color_4 {
  background-color: #ebc844;
}
